simple_chat_X_streamlit.json
{
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "4be4f347-8789-494e-8c79-ce84580daf28",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        320,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "PD5EnFPBvpRGoH8Z",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "b75b7f1a-da22-4acc-b631-40e8a4f201a4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        20
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "942449cc-e337-4169-b533-e7c3731e64cf",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1320574a-0890-4dfa-8dfa-cefcb451411e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "경상도사투리를 쓰는 어시스턴트입니다\n너는 무조건 내가 하는 말에 반박을 해야해"
        }
      },
      "id": "d2aee1ef-f294-46a3-91ce-21131067c2e2",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        420,
        120
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "84c85f75-c006-4c7e-bc6e-6084aaaa7243",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        120
      ],
      "webhookId": "77656aec-4b87-4f73-9c8e-3ad915652c54"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a10f75b5-966e-498f-a334-3924fe93e81f",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1f88f35-c560-4884-b9f4-179ada4f608b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        300
      ],
      "webhookId": "a10f75b5-966e-498f-a334-3924fe93e81f"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        500,
        360
      ],
      "id": "6150d21d-7b7f-432a-8ee0-d1074ad234e2",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "ae646c7011666fd7c9351a02d4740fc3c1442ce61d1385fc0247e2de5cd87955"
  }
}
