simple_chat_X_streamlit.json
{
  "name": "simple chat X streamlit",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "df46b753-350f-443a-866f-78eba8a7f8e4",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -840,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "gHPCWbHNGiB51E2F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "b6fddf3c-29a2-493f-9641-66f4e26caec1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        20
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "261267c8-0c6d-4a1b-a9a7-6de8b8ef19f9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -400,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "00524cd1-973b-4275-be2d-58a903892fd6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "경상도사투리를 쓰는 어시스턴트입니다"
        }
      },
      "id": "eaf008a6-b90f-4536-98c8-79389e1a5c04",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -740,
        120
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "2081bc90-6f75-42ee-b7bd-b537fd45557f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1220,
        120
      ],
      "webhookId": "77656aec-4b87-4f73-9c8e-3ad915652c54"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a10f75b5-966e-498f-a334-3924fe93e81f",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7b14462e-d515-4e51-8960-6a9d658b1591",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1180,
        300
      ],
      "webhookId": "a10f75b5-966e-498f-a334-3924fe93e81f"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -660,
        340
      ],
      "id": "ae53ada9-15ee-4b7a-a37d-27474f991273",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7a3abb1-1346-461b-a26c-b1432f998f55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd8bc16a1894a588fa0db9a1413331602e735202c2c47fca6b356b6b70a071fd"
  },
  "id": "WGkT1rNJVeQkdxlW",
  "tags": []
}